#stick {
      margin-left: auto;
      margin-right: auto;
      display: block;
}
#background {
      fill: black;
}
.second_hand {
      fill: red;
}
.minute_hand {
      fill: green;
}
.hour_hand {
      fill: blue;
}
